<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user List</title>
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>
</head>
<body>
    <h2>user list</h2>
    <div id="app-api-userList">
        <span v-for="user in users">
             {{user.id}}--{{user.name}}--{{user.age}}--{{user.address}}
            <br>
        </span>
    </div>
<script>
    new Vue({
        el: '#app-api-userList',
        data: {
            users: []
        },
        methods:{
            userList: function(){
                this.$http.get('http://localhost:8080/user/api/list')
                    .then(function(response){
                        this.users = response.data;
					})
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        },

        created(){
            this.userList();
        }
    });
</script>
</body>
</html>